body{
    font-family: serif;

}
header, footer{
    background-color: indigo;
    color: white;
    text-align: center;
    padding: 10px;
}
#napis{
    background-color: blueviolet;
    padding: 10px;
    text-align: right;
}
main{
   display: flex;
}
#section1,#section3{
    background-color: lavender;
    height: 500px;
}
#section1{
    width: 25%;
}
#section3{
    width: 35%;
    display: flex;
}
#section2{
    background-color: ghostwhite;
    text-align: center;
    height: 500px;
    width: 40%;
}
img{
    width: 50%;
    padding: 10px;
}
p{
    color: white;
    font-size: 150%;
    font-style: italic;
}
table,form{
    margin: 30px;
}
table,tr,td{
    border: 1px solid indigo;
    border-collapse: collapse;
}
td,th{
    padding: 3px;
}